.footer {
  margin: 0 auto;
  max-width: 1280px;

  &__contacts {
    margin-bottom: 60px;

    display: flex;
    justify-content: space-between;
  }

  &__mail {
    margin-bottom: 30px;

    color: white;

    font-weight: 500;
    font-size: 26px;
    line-height: 34px;

    transition: color 0.3s linear;

    &:hover {
      color: $hover-color;
    }
  }

  &__social {
    display: flex;
    gap: 16px;

    &-item {
      transition: fill 0.3s linear;
    }

    &-link {
      &:hover .footer__social-item {
        fill: $hover-color;
      }
    }
  }

  &__title {
    margin-bottom: 25px;

    font-weight: 500;
    font-size: 20px;
    line-height: 26px;

    color: white;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 12px;

    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  &__link {
    color: #cacaca;

    transition: color 0.3s linear;

    &:hover {
      color: $hover-color;
    }
  }

  &__since {
    margin-bottom: 40px;

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: #cacaca;
  }
}
