.page {
  &__body {
    margin: 0 auto;
    max-width: 1920px;

    background-color: $bgc-black;

    font-family: "TT Firs Neue", sans-serif;
    color: $text-color;
  }

  &__main {
    margin: 0 auto;
    max-width: 1280px;
  }
}
